@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Serif;
}

.container-fluid {
  background-color: #151515;
}

.header {
  background-color: #151515;
  color: white;
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.navBar2 {
  display: none;
}

.navBar {
  background-color: #151515;
  text-align: end;
  height: 150px;
  padding-top: 5px;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  margin-bottom: 10px;
}
.navBar .cajaLogo {
  display: flex;
  justify-content: space-between;
}
.navBar .logo {
  width: 200px;
  height: 150px;
}
.navBar a {
  color: rgb(255, 253, 253);
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}
.navBar ul {
  margin-top: 50px;
  margin-right: 75px;
  text-align: end;
}

.navBar a:hover {
  color: rgba(250, 235, 215, 0.219);
}

.tituVal h3 {
  font-size: 35px;
  padding-top: 10px;
  background-color: #151515;
  color: #FFFFFF;
  text-align: center;
  height: 80px;
  margin: 0;
}

.cajaValo {
  display: flex;
  justify-content: space-between;
  height: 300px;
  background-color: #151515;
}
.cajaValo div {
  border: black 2px solid;
  width: 250px;
  background-color: #F39237;
  margin-bottom: 30px;
  box-shadow: 0 0 8px #fd7c03;
}
.cajaValo img {
  width: 90px;
  margin-top: 10px;
  margin-left: 65px;
}
.cajaValo h5 {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  color: #151515;
}

.pieDePagina {
  padding: 30px;
  color: #FFFFFF;
  background-color: #494848;
  margin-top: 80px;
}

.logoFooter {
  padding: 0;
}
.logoFooter img {
  width: 180px;
  margin: 30px 15px;
}

.redes a {
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  color: white;
  display: flex;
  justify-content: center;
}
.redes a label {
  padding-left: 15px;
  font-size: 19px;
}

.redes a:hover {
  color: #151515;
}

.informacion a {
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  color: white;
}
.informacion label {
  padding-left: 10px;
  font-size: 19px;
}

.informacion a:hover {
  color: #151515;
}

.informacion a label:hover {
  color: #151515;
}

.copyright div {
  display: flex;
  justify-content: center;
}
.copyright p {
  font-size: 15px;
  width: 300px;
  margin-top: 15px;
}

@media (max-width: 548px) {
  .header {
    background-color: #151515;
    color: white;
    text-align: end;
    font-size: 45px;
    height: 100px;
    padding-top: 20px;
    margin: 0;
  }
  .footer {
    padding: 30px;
    color: #FFFFFF;
    background-color: #494848;
    margin-top: 400px;
  }
  .navBar {
    display: none;
  }
  .navBar2 {
    display: contents;
  }
  .navBar2 button {
    padding: 0;
    margin-bottom: 10px;
  }
  .navBar2 a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 15px;
  }
  .cajaValo {
    margin-left: 2px;
  }
  .cajaProf div div {
    margin-bottom: 80px;
  }
}
@media (max-width: 680px) {
  .header {
    font-size: 20px;
    text-align: center;
  }
  .cajaLogo {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 200px;
    height: 150px;
  }
  .navBar {
    display: none;
  }
  .navBar2 {
    display: contents;
  }
  .navBar2 button {
    padding: 0;
    margin-bottom: 10px;
    height: 40px;
    width: 50px;
    margin-top: 50px;
  }
  .navBar2 a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 15px;
  }
}
@media (max-width: 797px) {
  .footer {
    margin-top: 400px;
  }
  .redes {
    margin: 60px 0;
  }
}
/*Actividades*/
.containerAct {
  background-color: #151515;
}
.containerAct img {
  border-radius: 5px;
  box-shadow: 0 0 8px black;
  margin-top: 35px;
  margin-bottom: 35px;
}
.containerAct h3 {
  font-size: 24px;
}

.cajaAct {
  text-align: center;
  margin: 50px;
  color: #FFFFFF;
  background-color: #F39237;
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 8px #faad66;
}
.cajaAct div {
  margin-top: 30px;
  box-shadow: 0 0 8px #faad66;
}

/*Nosotros*/
.cajaProf {
  margin-top: 40px;
  color: white;
}
.cajaProf div {
  padding: 0;
  margin: 0;
  text-align: center;
}
.cajaProf div div {
  margin-top: 20px;
}
.cajaProf img {
  width: 450px;
  box-shadow: 0 0 8px #fafafa;
  margin-top: 30px;
}

.tituNosotros {
  color: #FFFFFF;
  border-bottom: 1px solid black;
}
.tituNosotros p {
  margin-top: 20px;
}

/*Ubicacion*/
.cajaUbi h2 {
  color: #FFFFFF;
  margin: 20px;
  margin-bottom: 50px;
}
.cajaUbi div {
  margin-bottom: 70px;
}

.cajaInfo {
  color: #FFFFFF;
}
.cajaInfo div {
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #F39237;
  border: black 2px solid;
  box-shadow: 0 0 5px #f1a877;
}

/*Contacto*/
.cajaForm {
  color: rgb(235, 230, 230);
  display: flex;
  justify-content: center;
}

.form {
  width: 800px;
}

.botones, .botones-secundario, .botones-primario {
  padding: 5px;
  color: rgb(255, 255, 255);
  margin: 0;
  border-radius: 5px;
  margin-top: 10px;
  width: 80px;
  height: 34px;
  background-color: rgb(31, 27, 27);
}

.botones-primario {
  color: white;
}

.botones-secundario {
  color: red;
}